!!! 5


%html{:lang => "ja"}
  %head
    %meta{ :content=>"text/html", :charset=>"utf-8" }
    %meta{ :name=>"viewport", :content=>"width=device=width; initial-scale=1; maximum-scale=1; user-scalable=no;" }
    %title "Raqueta Roll Sheet"
    %link{ :rel=>"stylesheet", :href=>"css/bootstrap.min.css", :media=>"screen" }
    %link{ :rel=>"stylesheet", :href=>"/style.css" }
    %script{ :src=>"/application.js" }
  %body
    #main
    %basefont{ :size=>"1", :face=>"ヒラギノ角ゴProW3" }
    %h1 日付
    %input{:type=>"date", :name=>"today", :value=>"#{Time.now.strftime("%Y-%m-%d")}" }
    %h1 コート予約
    %select
      - 0.upto(@num_members-1) do |i|
        %option #{@members[i]}
    %h1 出席者＆徴収額
    %span button
    - @members.each do |m|
      %span #{m}
    %ul
      - @members.each do |m|
        %li #{m}
        %a{ :href=>"#", :class=>"btn" } #{m}
    %form
      - 0.upto(1) do |i|
        %input{:type=>"radio", :name=>"sex", :value=>"#{i}"} #{i} 
    %a{ :href=>"javascript:void(0)", :class=>"button", :onClick=>"sendmail()" } send
    %h1 Hello, world!
    %script{ :src=>"http://code.jquery.com/jquery.js"}
    %script{ :src=>"js/bootstrap.min.js" }
