!!! 5

%html{:lang => "ja"}
  %head
    %meta{ :content=>"text/html", :charset=>"utf-8" }
    %meta{ :name=>"viewport", :content=>"width=device=width; initial-scale=1; maximum-scale=1; user-scalable=no;" }
    %title Raqueta
    %link{ :rel=>"stylesheet", :href=>"bootstrap2/css/bootstrap.min.css", :media=>"screen" }
    %link{ :rel=>"stylesheet", :href=>"/style.css" }
    %script{ :src=>"/application.js" }
    %script{ :src=>"http://code.jquery.com/jquery.js" }
    %script{ :src=>"bootstrap2/js/bootstrap.min.js" }
    %script
      $(document).ready(initialize())
  %body
    #main
    %div{ :class=>"container-fluid" }
      %div{ :class=>"hero-unit" }
        %h1 Raqueta
        %p Raquetaの支払い管理をスマホで簡単に行えるように作りました。段々と改良していきます。
      %div{ :class=>"page-header" }
        %h2 今日の日付
        %input{ :type=>"date", :name=>"today", :value=>"#{Time.now.strftime("%Y-%m-%d")}" }
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 開催場所
        %select{ :name=>"court" }
          - @court.each do |c|
            %option #{c}
        %select{ :name=>"numcourt" }
          - 1.upto(5) do |i|
            %option #{i}面
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 コート予約者
        %select
          %option 不明
          - 0.upto(@members.size-1) do |i|
            %option #{@members[i]}
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 現金受け取り
        %select
          - 0.upto(@members.size-1) do |i|
            %option #{@members[i]}
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 出欠＆支払い管理
      %table{ :class=>"table table-striped" }
        %thead
          %tr
            %th #
            %th 名前
            %th 出欠
            %th 駐車場割引
            %th 支払い
            %th 金額入力
        %tbody
          - 0.upto(@members.size-1) do |i|
            %tr
              %td #{i}
              %td #{@members[i]}
              %td
                %div{ :class=>"btn-group", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-info", :name=>"data0_#{i}" } 出
                  %button{ :class=>"btn btn-info active", :name=>"data0_#{i}" } 欠
              %td
                %div{ :class=>"btn-group", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-warning", :name=>"data1_#{i}" } 有
                  %button{ :class=>"btn btn-warning active", :name=>"data1_#{i}" } 無
              %td
                %div{ :class=>"btn-group", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-success active", :name=>"data2_#{i}" } 0
                  %button{ :class=>"btn btn-success", :name=>"data2_#{i}" } 500
                  %button{ :class=>"btn btn-success", :name=>"data2_#{i}" } 1000
                  %button{ :class=>"btn btn-success", :name=>"data2_#{i}" } 入力
              %td
                %input{ :type=>"number", :value=>"0", :style=>"width:50px;", :name=>"data3_#{i}" }
      %div{ :style=>"padding-bottom:20px" }
        %button{ :class=>"btn btn-primary", :onClick=>"sendmail(#{@members.to_s})" }
          %i{ :class=>"icon-envelope icon-white" }
          メール送信

    %div{ :id=>"footer" }
      %div{ :class=>"container-fluid" }
        %p{ :align=>"right" }
          Powerd by
          %a{ :href=>"http://www.ruby-lang.org/ja/" } Ruby
          ,
          %a{ :href=>"http://www.sinatrarb.com/" } Sinatra
          ,
          %a{ :href=>"http://haml.info/" } Haml
          ,
          %a{ :href=>"http://sass-lang.com/" } Sass
          ,
          %a{ :href=>"http://coffeescript.org/" } CoffeeScript
          ,
          %a{ :href=>"http://getbootstrap.com/" } Bootstrap
          , etc...
        %p{ :align=>"right" }
          Created by Shin Ohno
