!!! 5

%html{:lang => "ja"}
  %head
    %meta{ :content=>"text/html", :charset=>"utf-8" }
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1" }
    %title Raqueta
    %link{ :rel=>"stylesheet", :href=>"bootstrap2/css/bootstrap.min.css", :media=>"screen" }
    %link{ :rel=>"stylesheet", :href=>"/style.css" }
    %script{ :src=>"http://code.jquery.com/jquery.js" }
    %script{ :src=>"bootstrap2/js/bootstrap.min.js" }
    %script{ :src=>"/application.js" }
    - 0.upto(@members.size-1) do |i|
      %script function radio#{i}_0_0() {$("#radio#{i}_0_0").on('click',function(){$("#radio#{i}_0").val("0")})}
      %script function radio#{i}_0_1() {$("#radio#{i}_0_1").on('click',function(){$("#radio#{i}_0").val("1")})}
      %script function radio#{i}_1_0() {$("#radio#{i}_1_0").on('click',function(){$("#radio#{i}_1").val("0")})}
      %script function radio#{i}_1_1() {$("#radio#{i}_1_1").on('click',function(){$("#radio#{i}_1").val("1")})}
      %script function radio#{i}_2_0() {$("#radio#{i}_2_0").on('click',function(){$("#radio#{i}_2").val("0")})}
      %script function radio#{i}_2_1() {$("#radio#{i}_2_1").on('click',function(){$("#radio#{i}_2").val("1")})}
      %script function radio#{i}_2_2() {$("#radio#{i}_2_2").on('click',function(){$("#radio#{i}_2").val("2")})}
      %script function radio#{i}_2_3() {$("#radio#{i}_2_3").on('click',function(){$("#radio#{i}_2").val("3")})}
    %script
      $(document).ready(function() {
      - 0.upto(@members.size-1) do |i|
        radio#{i}_0_0();
        radio#{i}_0_1();
        radio#{i}_1_0();
        radio#{i}_1_1();
        radio#{i}_2_0();
        radio#{i}_2_1();
        radio#{i}_2_2();
        radio#{i}_2_3();
      })
  %body
    #main
    %div{ :class=>"container-fluid" }
      %div{ :class=>"hero-unit" }
        %h1 Raqueta
        %p Raquetaの支払い管理をスマホで簡単に行えるように作りました。段々と改良していきます。
      %div{ :class=>"page-header" }
        %h2 開催日
        %input{ :type=>"date", :name=>"today", :value=>"#{Time.now.strftime("%Y-%m-%d")}" }
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 開催場所
        %select{ :name=>"court" }
          - @court.each do |c|
            %option #{c}
        %select{ :name=>"numcourt" }
          - 1.upto(5) do |i|
            %option #{i}面
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 コート予約者
        %select{ :name=>"reserve" }
          %option 不明
          - 0.upto(@members.size-1) do |i|
            %option #{@members[i]}
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 現金受け取り
        %select{ :name=>"money" }
          - 0.upto(@members.size-1) do |i|
            %option #{@members[i]}
    %div{ :class=>"container-fluid" }
      %div{ :class=>"page-header" }
        %h2 出欠＆支払い管理
      %table{ :class=>"table table-striped" }
        %thead
          %tr
            %th #
            %th 名前
            %th 出欠
            %th 駐車場割引
            %th 支払い
            %th 金額入力
        %tbody
          - 0.upto(@members.size-1) do |i|
            %tr
              %td #{i}
              %td #{@members[i]}
              %td
                %input{ :type=>"hidden", :id=>"radio#{i}_0", :value=>"0" }
                %div{ :class=>"btn-group alignment", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-info", :id=>"radio#{i}_0_1", :value=>"1" } 出
                  %button{ :class=>"btn btn-info active", :id=>"radio#{i}_0_0", :value=>"0" } 欠
              %td
                %input{ :type=>"hidden", :id=>"radio#{i}_1", :value=>"0" }
                %div{ :class=>"btn-group", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-warning", :id=>"radio#{i}_1_1", :value=>"1" } 有
                  %button{ :class=>"btn btn-warning active", :id=>"radio#{i}_1_0", :value=>"0"} 無
              %td
                %input{ :type=>"hidden", :id=>"radio#{i}_2", :value=>"0" }
                %div{ :class=>"btn-group", "data-toggle"=>"buttons-radio" }
                  %button{ :class=>"btn btn-success active", :id=>"radio#{i}_2_0", :value=>"0" } 0
                  %button{ :class=>"btn btn-success", :id=>"radio#{i}_2_1", :value=>"1"} 500
                  %button{ :class=>"btn btn-success", :id=>"radio#{i}_2_2", :value=>"2"} 1000
                  %button{ :class=>"btn btn-success", :id=>"radio#{i}_2_3", :value=>"3"} 入力
              %td
                %input{ :type=>"number", :value=>"0", :style=>"width:50px;", :id=>"number#{i}" }
      %div{ :style=>"padding-bottom:20px" }
        %button{ :class=>"btn btn-primary", :onClick=>"sendmail(#{@members.to_s})" }
          %i{ :class=>"icon-envelope icon-white" }
          メール送信

    %div{ :id=>"footer" }
      %div{ :class=>"container-fluid" }
        %p{ :align=>"right" }
          Powerd by
          %a{ :href=>"http://www.ruby-lang.org/ja/" } Ruby
          ,
          %a{ :href=>"http://www.sinatrarb.com/" } Sinatra
          ,
          %a{ :href=>"http://haml.info/" } Haml
          ,
          %a{ :href=>"http://sass-lang.com/" } Sass
          ,
          %a{ :href=>"http://coffeescript.org/" } CoffeeScript
          ,
          %a{ :href=>"http://getbootstrap.com/" } Bootstrap
          , etc...
        %p{ :align=>"right" }
          Created by
          %strong Shin Ohno
